@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body,
html {
    font: 14px "Lato", Helvetica, Arial, sans-serif;
    /* background: #fffff6; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}


/* Styling for leaflet map */


/* #map {
  height: 500px;
} */

.pad-wrap {
    padding: 0 5%;
}


/* Navigation styling */

header {
    background: #264653;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1.5em;
    color: white;
    font-weight: bold;
}

.navigation a:hover {
    background: #2a9d8f;
}


/* views/index.php styling */


/* Setting background on body */

.index-bg {
    background: url("https://naturstyrelsen.dk/media/nst/11354606/tobiasmarkussen_mons_klint_stranden_solopgang_02.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.index-main {
    padding: 5%;
    height: 90%;
    display: flex;
}

.index-main h1 {
    font-weight: bolder;
    font-size: 500%;
    color: #fffff6;
    margin-bottom: 6%;
    /* text-shadow: -6px 6px 0px rgba(0, 0, 0, 0.2); */
}


/* Styling for start button */

.index-main-welcome-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-main-welcome-btn button {
    background-color: #fd9540;
    padding: 2% 8.5%;
    color: #fffff6;
    font: 25px "Lato", Helvetica, Arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.index-main-welcome-btn button:hover {
    box-shadow: -2px 2px 4px #264653;
}

.index-main-welcome-wrapper {
    width: 80%
}


/* pickLocation.php styling */

.picklocation-wrapper {
    margin-top: 5%;
    display: flex;
}

.picklocation-left {
    width: 40%;
}

.picklocation-left h1 {
    font-weight: bolder;
    font-size: 500%;
    color: #F4A261;
    margin-bottom: 5%;
}

.picklocation-left p {
    width: 50%;
    margin-bottom: 5%;
    font-size: 100%;
}


/* Select dropdown styling */

.select-location {
    padding: 20px 60px;
    color: #fffff6;
    background: #264653;
    cursor: pointer;
    border-radius: 50px;
    transition: ease-in-out 0.1s;
    font-weight: 550;
    font-size: 100%;
    -webkit-appearance: none;
}


/* Image slider */

#slider {
    overflow: hidden;
    margin-left: 5%;
    width: 55%;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
}


/* pickattraction.php styling */

.pickattraction-left {
    width: 60%;
}

.pickattraction-left h1 {
    font-weight: bolder;
    font-size: 500%;
    color: #2A9D8F;
    margin-bottom: 5%;
}

.pickattraction-left p {
    width: 40%;
    margin-bottom: 5%;
    font-size: 100%;
}

.select-attraction {
    padding: 20px 60px;
    color: #fffff6;
    background: #F4A261;
    cursor: pointer;
    border-radius: 50px;
    transition: ease-in-out 0.1s;
    font-weight: 550;
    font-size: 100%;
    border: none;
    -webkit-appearance: none;
}

.select-attraction option {
    outline: none;
    appearance: none;
}

.pickattraction-info {
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.pickattraction-info-box {
    background: #fff;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    width: 30%;
    margin: 1% 1% 0.5% 0%;
    padding: 1%;
    color: #264653;
}

.pickattraction-bg {
    /* background: rgb(233, 196, 106);
    background: linear-gradient(0deg, rgba(233, 196, 106, 1) 0%, rgba(244, 162, 97, 1) 35%, rgba(231, 111, 81, 1) 100%); */
    margin: 5% 0;
}


/* Responsive tablet */

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    #slider {
        width: 100%;
        margin: 5% 0 0 0;
    }
    .picklocation-wrapper {
        flex-wrap: wrap;
    }
    .pickattraction-left {
        width: 100%;
    }
    .picklocation-left {
        width: 100%;
    }
}


/* Responsive mobile */

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

@media all and (min-width: 1200px) {
    .index-main-welcome-wrapper {
        width: 50%
    }
}